<h1>All Ammo</h1>

<%= form_tag ammunitions_path, method: :get do %>
        <%= submit_tag "Refill Ammo", name: "refill_ammo", value: "AmmoThatNeedsRefilling" %>
<% end %>

<a href=<%= ammunitions_path %>><button>All Ammo</button></a>


<h3><% @ammo.each do |ammo| %></h3>
        <li><%= link_to "#{ammo.caliber}", ammunition_path(ammo.id) %><br> Amount of ammo in this caliber : <%= ammo.quantity %>
<% end %>
<br><br>
<%= link_to "Back to My Vault", owner_path(@owner) %>