<h1>Caliber : <%= @ammo.caliber %></h1>
<h2>Quantity : <%= @ammo.quantity %></h2>

<%= link_to "Edit Ammo", edit_ammunition_path %>
<%= link_to "Delete This Caliber", @ammo,  method: :delete, data: { confirm: 'Are You Sure?' }%>
<%= link_to "Back to All Ammo", ammunitions_path %>