<h3>Edit Owner</h3>

<%= form_for @owner do |f| %>
    <div class="form-group">
        <%= f.label :username %><br>
        <%= f.text_field :username, class: "form-control" %><br>
    </div>

    <div class="form-group">
        <%= f.label :favorite_gun %><br>
        <%= f.text_field :favorite_gun, class: "form-control" %><br>
    </div>

    <div class="form-group">
        <%= f.label :age %><br>
        <%= f.number_field :age, class: "form-control" %><br>
    </div>

    <div class="actions">
        <%= f.submit "Update Owner" %>
    </div>
<% end %>
<br>
<%= link_to "Home", owners_path %>
<%= link_to "Delete Owner", @owner, method: :delete, data: { confirm: 'Are You Sure?' } %>