<h1>Guns show</h1>

<h1 align="center"><%= @owner.username %></h1>
<h2 align="center">Favorite Gun: <%= @owner.favorite_gun %></h2>
<h3 align="center"><%= link_to "All Owners", owners_path %></h3>
<h3 align="center"><%= @owner.guns.each do |gun| %></h3>
    <li><%= gun.gun_name %></li>
<% end %>
<br><br>

<% if current_user.id == @owner.id %>
    <%= link_to "Edit Owner", edit_owner_path %>
    <%= link_to "Add New Gun", new_gun_path %>
    <%= link_to "Log Out", logout_path %>
<% end %>