<h1><%= @gun.gun_name %></h1>
<h3><%= @gun.caliber %></h3>






<br><br>

<% if current_user.id == @gun.owner.owners_id %>
    <%= link_to "Back to My Vault", owner_path(@owner) %>
    <%= link_to "Edit This Gun", edit_gun_path %>
    <%= link_to "Delete This Gun", @gun,  method: :delete, data: { confirm: 'Are You Sure?' }%>
    <%= link_to "Add New Gun", new_gun_path %>
    <%= link_to "Log Out", logout_path %>
<% end %>